<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="accounts"/>
    <springProperty scope="context" name="environment" source="spring.profiles.active" defaultValue="local"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} level=%level app=${appName} env=${environment} traceId=%X{traceId:-} spanId=%X{spanId:-} thread=%thread logger=%logger{36} message="%msg"%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="!test">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${APP_LOGSTASH_HOST:-localhost}:${APP_LOGSTASH_PORT:-5000}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"application":"${appName}","environment":"${environment}"}</customFields>
                <includeMdc>true</includeMdc>
                <includeContext>true</includeContext>
                <includeStructuredArguments>true</includeStructuredArguments>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>